.container-total{
    background-color: whitesmoke;
}
.container-img{
    background-color: #A6A6A6;
}
.card{
    border-radius:1rem ;
}
.already-account{
    float: right;
}

.mensaje-error{
    color: darkred;
}
#navbar{
    background-color: #A6A6A6;
}
#card{
    background-color: whitesmoke;
    padding: 10px;
}